*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.full-header {
    max-width: 700px;
    margin: 0px auto 0px;
    font-size: 14px;
}

.name {
    text-align: center;
}

.personal-info {
    text-align: center;
}

.line {
    border: 2px solid black;
}

table {
    border-spacing: 30px;
   
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
th {
    vertical-align: top;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.title {
    text-align: left;
}
td {
    display: table-cell;
    vertical-align: inherit;
}

.main-idea {
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

